.bl-doos{
    width: 300px;
    background-color: blue;
    color: white;
    padding: 10px;
    margin: auto;

}
body{
    margin:0;
}
.grijs{
    background-color: gray;
}
.white{
    background-color: white;
    height: 300px;
    width: 50%;
    padding: 5px;

}
.yellow{
    background-color: yellow;
    height: 100px;
    width: 50%;
}
.red{
    background-color: red;
    height: 200px;
    width: 75%;
    padding: 5px;   
}


*{
    box-sizing: border-box;
}
.colom-left{
    width: 30%;
    padding: 15px;
    float: left;
}
.colom-right{
    width: 70%;
    padding: 15px;
    float: right;
}



.colum-40{
    float: left;
    padding: 15px;
    width: 40%;
}
.colum-60{
    float: left;
    padding: 15px;
    width: 60%;
}
.colum-25{
    float: left;
    padding: 15px;
    width: 25%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
@media (width <= 500px) {
    body {
      background-color: lightblue;
      color: black;
    }
}


header{
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
